<%= render 'user' , user: @user, book: @book %>


<% @users.each do |user| %>
  <div>
   
       <%= image_tag user.get_profile_image(100,100) %>
       <p><%= user.name %></p>
       <p><%= link_to  user_path(user.id) do %>Show
       <% end %>
     </p>
       
     
  </div>
<% end %>