<% @books.each do |book| %>
  <div>
     <p>投稿ユーザー画像</p>
     
     <p><%= link_to book_path(book.id) do %>
       <%= book.title %>
       <% end %>
     </p>
       
     <p><%= book.body %></p>
  </div>
<% end %>